<!DOCTYPE html>
<html>
  <head>
    <title>My Finance App</title>
    <%= favicon_link_tag 'logo.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "home/header" %>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%=
          hash = {"error" => "alert-danger", "notice" => "alert-info"}
          alert_class = "alert " + hash[name]
          content_tag(:div, msg, class: alert_class)
        %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
